    
   <script>
    $(document).ready(function () {
$(window).on('scroll', function () {

if ($(this).scrollTop() > 0) {
  if (!$('nav').hasClass('navbar-scrolled')) {
      $('nav').addClass('navbar-scrolled');
      console.log()
  }
} else {
  if ($('nav').hasClass('navbar-scrolled')) {
      $('nav').removeClass('navbar-scrolled');
  }
}
});

})

const map = document.querySelector('#contact')
const map1=document.querySelector('#about')
// simulates arriving at #Who-We-Are for the purpose of this example

  addEventListener('DOMContentLoaded', event => {
  if (window.location.hash === 'contact') {
      map.scrollIntoView({behavior: "smooth", block: "start"});
  }
  });
  addEventListener('DOMContentLoaded', event => {
  if (window.location.hash === 'about') {
      map.scrollIntoView({behavior: "smooth", block: "start"});
  }
  });
  </script>   
</body>
    <foot>
       
    </foot>
    
    
    
</html>